.hero-container {
    position: relative;
    background: linear-gradient(270deg, #48367d 0%, #241842 100%);
    width: 100%;
    padding: 80px 20px;
    padding-bottom: 170px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -ms-transform: translateY(-58px);
    transform: translateY(-58px);
}
.hero-container {
    padding-bottom: 145px;
}
.hero-container {
    background-image: linear-gradient(to top, #4D089A, #5BADDE);
    position: relative;
}
.hero-wave, .hero-wave:before, .hero-wave:after {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    border-radius: 100% 0 0 0;
}
.hero-wave {
    width: 300px;
    height: 300px;
    background: rgba(216,216,216,0.1);
}
.hero-wave:before {
    content: '';
    width: 150px;
    height: 150px;
    background: rgba(216,216,216,0.15);
}
.hero-wave:after {
    content: '';
    width: 450px;
    height: 450px;
    background: rgba(216,216,216,0.1);
}
.hero-container .hero-content {
    margin-top: 50px;
    max-width: 1000px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.hero-container .hero-content {
    margin-top: 30px;
}
.hero-container .hero-item {
    -ms-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 1;
}
.hero-container .hero-content h1 {
    font-size: 61px;
    line-height: 66px;
    text-align: left;
}
@media (max-width: 992px){
	.hero-container .hero-content h1 {
	    font-size: 51px;
	    line-height: 56px;
	    text-align: center;
	}
}

.hero-buttons-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.hero-container .hero-buttons-container {
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.simple-cta {
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    font-size: 24px;
    font-weight: 700;
    margin: 0px auto 0px auto;
    max-width: 700px;
    padding: 20px;
    position: relative;
    text-align: center;
}
.simple-cta.pullup {
    margin-top: -98px;
    border-color: #4D089A;
    border-style: solid;
    border-width: 2px;
}
.main-header.bg-transparent {
	border-bottom: none !important;
}
.hero-container .special-link {
    cursor: pointer;
    margin-top: 25px;
}
.hero-container .hero-content p {
    max-width: 550px;
    font-size: 22px;
    line-height: 34px;
}
.hero-container .hero-content a:not(.btn) {
    margin-top: 20px;
    color: #fff;
}
.hero-container .special-link a span {
    border-bottom: 1px solid rgba(255,255,255,0.7);
    display: inline-block;
    padding-bottom: 5px;
}
.sdlc-container {
    padding: 50px 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
.sdlc-container .sdlc-description {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 800px;
    margin-bottom: 50px;
}
.sdlc-description p {
    font-size: 24px;
}
.sdlc-container .sdlc-table {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
@media (max-width: 1200px) {
  .sdlc-container .sdlc-table {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      border-radius: 0;
      background: transparent;
      box-shadow: none;
  }
}
.sdlc-container .sdlc-table .sdlc-column {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    position: relative;
}
@media (max-width: 1200px) {
  .sdlc-container .sdlc-table .sdlc-column {
      width: calc(50% - 20px);
      margin: 10px;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      border-radius: 3px;
      background: #fff;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
}
@media (max-width: 768px) {
  .sdlc-container .sdlc-table .sdlc-column {
      width: 100%;
      margin: 0;
      margin: auto;
      margin-bottom: 20px;
      max-width: 500px;
  }
}

.sdlc-container .sdlc-table .sdlc-column:not(:last-child) {
    border-right: 1px solid #e7e7e7;
}
@media (max-width: 1200px) {
  .sdlc-container .sdlc-table .sdlc-column:not(:last-child) {
      border-right: 0;
  }
}

.sdlc-container .sdlc-table .stage-container, .sdlc-container .sdlc-table .solutions-container {
    padding: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}
@media (max-width: 1200px) {
  .sdlc-container .sdlc-table .stage-container, .sdlc-container .sdlc-table .solutions-container {
      padding: 20px;
      -ms-flex-align: start;
      align-items: flex-start;
      text-align: left;
  }
}

.sdlc-container .sdlc-table .stage-container {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
}
@media (max-width: 1200px) {
  .sdlc-container .sdlc-table .stage-container {
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-align: center;
      align-items: center;
  }
}

.sdlc-container .sdlc-table .stage-container a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.sdlc-container .sdlc-table .solutions-container {
    padding: 20px 6px;
    padding-bottom: 6px;
    text-align: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -ms-flex: 1;
    flex: 1;
}
@media (max-width: 1200px) {
  .sdlc-container .sdlc-table .solutions-container {
      padding: 20px;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-align: start;
      align-items: flex-start;
      text-align: left;
  }
}

.sdlc-container .sdlc-table .stage-container p {
    margin: 0;
    padding: 0 0.5rem;
    font-weight: 600;
    color: #548;
}
.customer-logos-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    padding-top: 100px;
}
.customer-logos-container p {
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
    color: #828282;
    margin: 0;
}
.customer-logos-container .logos-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px 50px;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
}
